body{
    margin: 0;
}
.banner{
    background-image: url(images/Banner\ Image.png);
    width: 1320px;
height: 600px;
border-radius: 16px;

margin: auto;
margin-bottom: 100px;


}
.nav{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
#banner-title{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 40px;
font-style: normal;
font-weight: 150;
line-height: normal;
margin-bottom: 0;
margin-top: 180px;

}
#banner-header{
    color: #FFF;
margin-top: 0%;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
text-align: center;
}
.all-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}
.button{
    padding: 10px 20px; font-size: 20px; font-weight: bold;background-color: red;color: white; border: none; border-radius: 16px;
}
.time{
    color: red;
}
.party-section{
    background-image: url(images/Vectorrr.png);
    width: 1320px;
height: 600px;
margin: auto;
margin-bottom: 100px;

}
.date-section{
    margin: auto;
    width: 1320px;
height: 282px;
background-color: linen;
 text-align: center;
 border-radius: 16px;
 margin-bottom: 100px;
}
.new-offer-section{
    display: flex;
    width: 1320px;
    margin: auto;
    margin-bottom: 100px;
}
.holiday-sale{
    text-align: center;
    width: 1000px;
    margin: auto;
}
.offer-image{
    background-image: url(images/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 1320px;
    height: 738px;
    margin: auto;
    margin-bottom: 100px;
   
}
.images{
    display: flex;
    background-image: url(images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
    
    
    
}
.our-product{
    width: 1320px;
    margin: auto;
    margin-bottom: 100px;
}
.product-image img{
   margin-right: 30px;
   margin-bottom: 30px;
   width: 400px;
   border-radius: 16px;
}
.product-image img:hover{
    box-shadow:0 10px 12px 10px rgba(0, 0, 0, 0.2), 0 16px 20px 10px rgba(0, 0, 0, 0.19);
}

.subscribe-section{
    width: 1320px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 30px;
    margin-bottom: 100px;
}
.e-mail{
text-align: center;
}
.Subscribe-button{
    border: 0;
    padding: 17px;
    background-color: red; 
    font-size: 20px; 
    font-weight: 600;
     text-decoration: none;
     color: white;
     border-radius:  0px 50px  50px 0px;

}
footer{
    background-color: black;
    padding: 80px;
}
.footer-address{
    display: flex;
justify-content: space-between;   
}
.address{
    color: white;
}
.contact{
    color: white;
    
}
.social-network{
text-align: center;
margin: 40px;

}
.social-network img{
    margin-left: 10px;

}
.copyright{
    color: white;
    display: flex;
    justify-content: space-between;
}
.copyright a{
    text-decoration: none;
    color: white;
   
}
footer h3{
    font-size: 24px;
    font-weight: 500;
    margin: 10px;
}